<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/estilo.css">
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/produto.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Lato&family=Oswald&display=swap" rel="stylesheet">
        <title>Confeitaria Gabi Denícoli</title>
        <title>Produtos</title>
    </head>
    <body>
        <header>
            <div class="topo">
                <img class="topo" src="../imgs/logo.png" alt="Confeitaria Gabi Denícoli" title="Confeitaria Gabi Denícoli">
                <a href="../views/pedidos.html">PEDIDOS</a> <a href="../views/produtos.html">PRODUTOS</a> <a href="../../index.html">SOBRE NÓS</a> <a href="../views/login.html">LOGIN</a>  <a class="topo" href="">PROCURAR</a>
            </div>
        </header>
        <main>

        </main>
    </body>
</html>