<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Lato&family=Oswald&display=swap" rel="stylesheet">
    <title>Confeitaria Gabi Denícoli</title>
</head>
<body>
    <main class="flex-container">
        <div class="flex-item-left" id="banner-login">
            <h3 class="sub-banner">Confeitaria Gabi Denícoli</h3>
        </div>
        <div class="flex-item-right" id="informações">
            <h2 class="texto">Login</h2>
            <div id="subdiv1">
                <p>Nome do usuario</p>
                <input>
                <p>e-mail</p>
                <input>
                <p>senha</p>
                <input>
                <p><a href="">esqueci minha senha</a></p>
            </div>
            <div id="subdiv2">
                <p>não tem conta? <a href="">cadastre-se aqui</a></p>
            </div>
        </div>
</body>
</html>